/* FIRST SECTION */
@media (max-width: 393px){
    div>.first-section>.col1>.Row3>.first,.second {
        width: 40%;
    }

    div>.first-section>.col1>.Row3 {
        font-size: 12px;
    }

    div>.first-section>.image1 {
        margin-top: 20px;
    }

    div>.first-section>.col1>.Row1 {
        font-size: 54px;
    }
}

/* SECOND SECTION */
@media (max-width: 393px){
    div>.second-section>.first {
        text-align: center;
        padding: 0px 10px 0px 10px;
        font-size: 20px;
    }
}

/* THIRD SECTION */
@media (max-width: 393px){
    div>.third-section>.steps>.invest-plan {
        margin-top: 50px;
    }

    div>.third-section>.steps {
        margin-top: 0px !important;
    }
}

/* FOURTH SECTION */
@media (max-width: 393px){
    div>.fourth-section>.two { 
        font-size: 32px;
        padding: 0px 20px 0px 20px;
        line-height: 40px;
        margin-top: 10px;
    }

    div>.fourth-section>.groups>.thirds>.row { 
        margin-top: 50px;
        text-align: center;
        margin: 50px 0px 0px 0px !important;
        padding: 0px !important;
    }

    /* div>.fourth-section>.groups>.thirds { 
        margin: 0px !important;
        padding: 0px !important;
    } */

    div>.fourth-section>.groups>.thirds>.row>.text-left>.text2 { 
       padding: 0px !important;
    }

    div>.fourth-section>.groups { 
        margin-top: 0px !important;
    }
}

/* FIFTH SECTION */
@media (max-width: 393px){
    div>.fifth-section>.two {
        padding: 20px;
    }

    div>.fifth-section>.team {
        height: 100%;
     }

    div>.fifth-section>.team> div>img {
        width: 100%;
        padding-right: 0px !important;
        margin-right: 0px !important;
    }

    div>.fifth-section>.team> .image5 {
        padding-right: 0px !important;
        margin-right: 0px !important;
    }

    div>.fifth-section>.team>.wrap {
        height: 80%;
        margin-top: 40px;
     }

    div>.fifth-section>.team>.wrap>.flexboxes {
        width:100%;
        height: 350px;
        margin: 30px 0px 0px 10px;
    }
}

/* SIXTH SECTION */
@media (max-width: 393px){
    div>.sixth-section>.image6>.image6b {
        width: 90%;
    }

    div>.sixth-section>.ask>.meeting {
        text-align: center;
        margin-right: 0px !important;
        margin-top: 0px !important;
    }

    div>.sixth-section>.ask {
        padding: 20px !important;
    }

    div>.sixth-section>.ask>.meeting>.pe-5 {
        padding-right: 0px !important;
        margin-top: 50px;
    }

    div>.sixth-section>.ask>.meeting>div>.sub6b {
        padding-right: 0px;
    }

    div>.sixth-section>.ask>.meeting>div>.sub6c {
        margin: 10px 0px 0px 0px !important;
        width: 100%;
        text-align: center;
    }

    div>.sixth-section>.ask>.title6 {
        text-align: center;
    }
    
    div>.sixth-section>.ask>.sub6 {
       text-align: center;
    }
}

/* SEVENTH SECTION */
@media (max-width: 393px){
    div>.seventh-section>.sub7,.title7 {
        text-align: center;
    }

    div>.seventh-section {
        margin: 10px !important;
    }

    div>.seventh-section>.traders {
        text-align: center;
    }

    div>.seventh-section>.traders>.trader1>.trade7 {
        padding: 0px 10px 10px 10px;
    }

    div>.seventh-section>.traders>.trader1 {
        margin-top: 30px;
    }
    
}

/* EIGHT SECTION */
@media (max-width: 393px){
    div>.eight-section>.title8 {
        font-size: 38px;
        padding: 0px 10px 10px;
    }

    div>.eight-section>.image8>div>img {
        margin-top: 10px;
    }
}

/* NINTH SECTION */
@media (max-width: 393px){
    div>.ninth-section>.image9>img {
       width: 90%;
    }

    div>.ninth-section>.get-alert {
        margin-top: 40px !important;
        text-align: center !important;
    }
    
     div>.ninth-section>.get-alert>.title9b {
        font-size: 38px;
        line-height: 44px;
        padding-right:0px;
        margin: 0px 10px 0px 10px !important;
    }

    div>.ninth-section>.inbox {
        top: -600px;
        left: 180px;
        width: 50%;
    }  

    div>.ninth-section>.inbox>img {
        width: 100%;
    }    

    div>.ninth-section>.mail {
        position: relative;
        top: -620px;
        left: 100px;
        width: 20%;
    }

    div>.ninth-section>.mail>img {
        width: 90%;
    }

    div>.ninth-section>.get-alert>.body9 {
        padding-right: 0px;
    }

    div>.ninth-section>.get-alert>.subscribe {
        margin-top: 30px !important;
    }

    div>.ninth-section>.get-alert>.subscribe>img {
        height: 20px;
        margin-right: 10px !important;
    }
    div>.ninth-section>.get-alert>.subscribe>input {
        width: 50%;
        height: 30px;
        margin-right: 10px !important;
    }
    div>.ninth-section>.get-alert>.subscribe>p {
        width: 40%;
        height: 30px;
        padding: 5px !important;
    }
}

/* TENTH SECTION */
@media (max-width: 393px){
    div>.tenth-section {
        margin-top: 50px;
    }
}


